body{
    background-color: thistle;
    background-size: cover;
    background-image: url(https://th.bing.com/th/id/R.3ae67bb39fbb582035cdeca788ce0405?rik=jafI8DGb5SsDCw&pid=ImgRaw&r=0);
}



#menu ul>li{
    font-size: 24px;
    display: inline-block;
    margin-left: 6%;
    line-height: 40px;
    padding-left: 30px;
    padding-right: 30px;
    color: rgb(100, 19, 19);
    
}

#menu ul>li #back{
    float: right;
}

li a:hover{
    color: rgb(88, 217, 235);
}
ul li a {
    color: white;
    text-decoration: none;
}

.NZ{
    padding-top: 5%;
}


.nz{
    width: 45%;
    height: 500px;
    margin-top: 10%;
    margin-right: 5%;
    font-size: 30px;
    color: whitesmoke;
    text-align: justify;
    float: right;
}

.nz h1{
    color: lavenderblush;
}


.imgNZ{
    float: left;
}
