body{
    background-image: url(https://mylittlebigworld.fr/wp-content/uploads/2021/06/57aed1cc-2b70-4661-8687-ae1dc65cde15-1-735x490.jpg);
    background-size: cover;
    
}


#menu ul>li{
    font-size: 20px;
    display: inline-block;
    margin-left: 6%;
    line-height: 40px;
    padding-left: 30px;
    padding-right: 30px;
    color: rgb(100, 19, 19);
    
}

#menu{
    font-size: large ;
    height: 70px;
    width: 1520px;
    background-color: aliceblue;
}


li a:hover{
    color: rgb(255, 77, 0);
}
ul li a {
    color: red;
    text-decoration: none;
}


*{
    box-sizing: border-box;
    font-family: 'lato',sans-serif;
}

.wrapper{
    display: flex;
    width: 70%;
    justify-content: space-around;
    margin: 3cm auto 0 auto;
}

.card{
    width: 280px;
    height: 360px;
    padding: 2rem 1rem;
    background: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-in-out;
}

.card:hover{
    transform: translateY(20px);
}

.card::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,176,155,0.5),  rgba(150,201,61,1));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}

.card:hover:before{
    opacity: 1;
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.card .info{
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
    width: 250px;
}

.card:hover .info{
    opacity: 1;
    transform: translateY(0px);
}

.card .info h1{
    margin: 0;
    font-size: 25px;
}

.card .info p{
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;
}

.card .info .btn{
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: #fff;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.card .info .btn:hover{
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}

